.shop-page {
  .main {
    background-color: #121212;
    color: white !important;
  }

  .shop-toolbar {
    border-radius: 30px;
    padding-left: 12px;
    padding-right: 12px;
    box-shadow: gray;
  }
}

.card {
  background-color: #313131;
  color: white !important;
  border-radius: 20px;
  box-shadow: gray;
}

.text-white {
  color: white !important;
}

.gray-actus {
  background-color: #313131 !important;
  color: white !important;
  box-shadow: gray;
}
.custom-select {
  background-color: #313131 !important;
  color: white !important;
  box-shadow: gray;
  border-radius: 40px !important;
}

.react-select__control {
  background-color: #313131 !important;
  color: white !important;
  box-shadow: gray;
  border-radius: 40px !important;
}
.css-gcjyaa-singleValue {
  color: white !important;
}
